.banner
	.container
		.row
			.col-12.d-flex.justify-content-center.align-items-lg-center
				p.banner__text КАМАКО — ведущий производитель майонезов, соусов и кетчупов в Беларуси на протяжении 20 лет
				a(href='#').banner__close
					img(src='./templates/images/close-icon.png').close-icon