footer.footer#link3
	.container
		.row
			.col-xl-12.text-center
				h6.section__header.mb-5 Download Mobile App
		.row.mb-5
			.offset-xl-2.col-xl-4.col-md-6.d-flex.justify-content-center.justify-content-xl-end.mb-3.mb-xl-0
				a(href='#')
					.app-store-icon
			.col-xl-4.col-md-6.d-flex.justify-content-center.justify-content-xl-start
				a(href='#')
					.google-store-icon
		.row
			.col-xl-12.text-center
				p.copyright.mb-0.mt-5 Copyright © 2012-2018 VPN. All rights reserved.