section.how
	.container
		.row.section__header
			.col-xl-12.text-center
				h2.section__header-black.mb-0 How it works?
		.row
			.offset-xl-1.col-xl-10.col-12
				picture.how__picture
					img.how__image-big(src='templates/images/how-it-works@2x.png')
					img.how__image(src='templates/images/how-it-works.png')