- var menu = ['Home','Work','Portfolio','About us', 'Contacts']
section.section-1.section
	form(name='contact' id='contact')
		label Enter email
		input#mail(type='text' value='12345678@mail.com')
		label Enter password
		input#pass(type='password' value='example')
		button#submit(type='submit') Log in
	nav#main-nav
		ul.menu
			each item in menu
				li.menu__item
					a(href='#').menu__link= item
section.section.section-2