section.test-js
	img(src='./templates/images/search.png')
	img(src='./templates/images/search.png')
	img(src='./templates/images/search.png')
	a(href='#').inc increes icons
	a(href='#').deg degrees icons
section.test
	form(class='form' disabled data-counter='1')
		input
		input
		input
	p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, minima.