- var menu = ['Home','Work','Portfolio','About us', 'Contacts']
section.section-1.section
	p(data-font='text') lorem ipsum dolar asldfkj qowieur  asldgj xmnb xvcasiu
	form(name='contact' id='contact')
		label Enter email
		input#mail(type='text' value='12345678@mail.com')
		label Enter password
		input#pass(type='password' value='example')
		button#submit(type='submit') Log in
nav#main-nav
	ul.menu
		each item in menu
			li.menu__item
				a(href='#').menu__link= item
section.section.section-2
	form#todo
		ul#todo_list-done
		ul#todo_list.todo_list
			li.todo_item Apple
			li.todo_item Banana
			li.todo_item Orange
		input(type='text')#todo_input
		button#todo_btn(type='submite') add to TODO
section.section.section-3