section.main
	.container
		.row
			.col-xl-6
				.main-screen.d-flex.flex-column.align-items-center.align-items-lg-start
					h1.main-screen__header.mb-3.text-center.text-lg-left Stay invisible with one touch.
					picture.main__picture
						img.main__image-big(src='templates/images/hero-img-m@2x.png')
						img.main__image(src='templates/images/hero-img-m.png')
					p.main-screen__text.mb-3.mb-md-5.text-center.text-lg-left The simplest VPN App. 
						a.main-screen__link(href='#') Try it for free.
					a.main-screen__btn.button-default(href='/signup.html') Get it now!