section.slider
	.container-fluid
		.row
			.col-12.p-0
				.carousel.slide#main-carousel(data-interval='7500' data-ride='carousel')
					ol.carousel-indicators
						li.active(data-target='#main-carousel' data-slide-to='0')
						li(data-target='#main-carousel' data-slide-to='1')
						li(data-target='#main-carousel' data-slide-to='2')
					.carousel-inner
						.carousel-item.active
							img.d-block.w-100(src='./templates/images/bg.jpg')
							.carousel-caption
								p.slide__header Пусть всегда будет вкусно!
								.slide__content.content
									p.content__header Кулинарный клуб
									p.content__title Создай свой кулинарный шедевр вместе с соусами Камако
									a.content__btn Узнать больше
						.carousel-item
							img.d-block.w-100(src='./templates/images/bg.jpg')
							.carousel-caption
								p.slide__header Пусть всегда будет вкусно!
								.slide__content.content
									p.content__header Кулинарный клуб
									p.content__title Создай свой кулинарный шедевр вместе с соусами Камако
									a.content__btn Узнать больше
						.carousel-item
							img.d-block.w-100(src='./templates/images/bg.jpg')
							.carousel-caption
								p.slide__header Пусть всегда будет вкусно!
								.slide__content.content
									p.content__header Кулинарный клуб
									p.content__title Создай свой кулинарный шедевр вместе с соусами Камако
									a.content__btn Узнать больше
					a.carousel-control-prev(href='#main-carousel' role='button' data-slide='prev')
						img(src='./templates/images/arrow-left.png')
					a.carousel-control-next(href='#main-carousel' role='button' data-slide='next')
						img(src='./templates/images/arrow-right.png')