section.thank.mt-5
	.container
		.row
			.offset-xl-2.col-xl-8.col-12
				.thank__wrapper.p-3.p-md-5
					.container
						.row
							.col-12.text-center.thank__message
								img.thank__icon.mb-3(src='templates/images/icon-check.svg')
								h1.thank__header Thank You!
								h4.thank__subheader.mb-3 Your registration was completed successfully.
						.row.mb-3
							.col-12.thank__info.pt-3
								p.send-to.text-center We have sent you confirmation email with your username and download links to email address 
									span  „joh••••@gmail.com“
								.thank__why.d-flex.align-items-end.justify-content-center.mb-3
									i.i-arrow.mr-2
									p.thank__question.mb-0 While you’re here…
								p.thank__download.text-center.mx-auto Download and install the VPNinvisible application  if haven’t done it yet.
						.row
							.col-12.col-sm-6.mb-3.mb-sm-0
								a(href='#')
									.app-store-btn-icon
							.col-12.col-sm-6
								a(href='#')
									.google-store-btn-icon
		.row.mt-3
			.col-12.text-center.copyright
				p.copyright © 2012-2018 VPN. All rights reserved.