section.why#link2
	.container
		.row.section__header.mb-5
			.col-xl-12.text-center
				h2.section__header-red.mb-3 Do I need VPN?
				h2.section__header-black.mb-0 Yes. And here is why...
		.row.mb-5
			.offset-xl-2.col-xl-2.d-flex.justify-content-xl-end.justify-content-center.mb-3.mb-xl-0
				img.why__image(src='templates/images/icon-security.svg')
			.col-xl-6
				.why__content
						h5.why__header.mb-2.text-center.text-xl-left Online Security
						p.why__text.mb-0.pr-0.pr-xl-5 Your online activity will be encrypted with the 256-AES bit technology. Nobody will be able to spy into your personal conversations, browsing history or online transactions,  whatever data you send (personal passwords or credit cards data), whatever WiFi you use, you are 100% secure.
		.row.mb-5
			.offset-xl-2.col-xl-2.d-flex.justify-content-xl-end.justify-content-center.mb-3.mb-xl-0
				img.why__image.mr-2(src='templates/images/icon-privacy.svg')
			.col-xl-6
				.why__content
						h5.why__header.mb-2.text-center.text-xl-left Ultra Privacy
						p.why__text.mb-0.pr-0.pr-xl-5 Stay anonymous and untracked on any website from any location. We protect your privacy changing your physical location (IP address).  Thus, whatever you do on the world wide web will remain a mystery to your Internet Service Provider, the government, hackers, snoopy neighbours or whoever else is interested in your online activity.
		.row.mb-5
			.offset-xl-2.col-xl-2.d-flex.justify-content-xl-end.justify-content-center.mb-3.mb-xl-0
				img.why__image(src='templates/images/icon-restricted.svg')
			.col-xl-6
				.why__content
						h5.why__header.mb-2.text-center.text-xl-left Access Restricted Content
						p.why__text.mb-0.pr-0.pr-xl-5 Easily unblock sites and services like Adult Content, Online Casinos and Gambling, Video Streaming, Facebook, Twitter, Skype, YouTube and Gmail. Censorship or geographic restrictions become a matter of the past. Unlock the doors of restricted internet and consume your favorite content with total freedom and independence.
		.row
			.col-xl-12.justify-content-center.d-flex.mt-3.mt-lg-5
				a.reasons__btn.button-default(href='/signup.html') Signup. It's free!