.footer{
	background-color: #000000;
	padding: 60px 0 49px;
	.section__header{
		color: #fff;
		font-size: 30px;
		font-weight: $medium;
	}
}
.app-store-icon{
	@include retina-sprite($appstore-group);
}
.google-store-icon{
	@include retina-sprite($playstore-group);
}
.copyright{
	font-size: 16px;
	color: rgba(255,255,255,.42);
}
@media (max-width: 480px){
	.footer{
		padding: 2.75rem 0 2.25rem;
		.section__header{
			font-size: 24px;
		}
	}
}
@media (max-width: 320px){
	.footer{
		padding: 2.5rem 0 1.75rem;
	}
}