.header{
	.menu__nav{
		display: flex;
	}
	padding: 22px 0;
}
.language-toggle{
	&__link{
		color: $color-grey;
		font-weight: 500;
		transition: .3s;
		&:hover,&-active{
			text-decoration: none;
			color: $menu-active;
		}
	}
	&__item{
		border-right: 1px solid $border-grey;
		padding-right: 12px;
		margin-left: 12px;
		&:first-child{
			margin-left: 0;
		}
		&:last-child{
			border: none;
			padding-right: 0;
		}
	}
}
.language-toggle{
	margin-bottom: 0;
}
.menu{
	&__list{
		margin-bottom: 0;
		margin-left: 130px;
		margin-right: 45px;
	}
	&__item{
		font-size: 13px;
		margin-right: 30px;
		display: flex;
		align-items: center;
		&:last-child{
			margin-right: 0;
		}
	}
	&__link{
		color: $menu-text;
		font-weight: 700;
		text-transform: uppercase;
		transition: .3s;
		position: relative;
		&:after,&.active{
			content: '';
			display: inline-block;
			background-color: $menu-active;
			position: absolute;
			width: 0;
			height: 2px;
			left: 0px;
			bottom: -5px;
			transition: .3s;
		}
		&:hover{
			text-decoration: none;
			color: $menu-active;
			&:after,&.active{
				width: 95%;
			}
		}
	}
}
.logo__link{
	position: absolute;
	z-index: 10;
	top: -18px;
}
.search{
	margin-left: auto;
	margin-right: 50px;
	display: flex;
	align-items: center;
	&__icon{
		order:1;
		margin-left: auto;
		&:hover{
			cursor: pointer;
		}
	}
	&__input{
		position: absolute;
		left: 130px;
		order: 0;
		width: 0px;
		transition: .3s;
		border: none;
		border-bottom: 1px solid #000;
		margin-right: 20px;
		&--active{
			width: 81%;
		}
	}
}
.menu__btn{
	display: none;
	background-color: transparent;
	width: 24px;
	height: 24px;
	position: relative;
	margin-left: auto;
}
.menu__btn__line,
.menu__btn__line:before,
.menu__btn__line:after{
	display: block;
	width: 22px;
	height: 2px;
	background-color: #34495e;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -1px;
	margin-left: -11px;
	transition: .3s;
}
.menu__btn__line:before,
.menu__btn__line:after{
	content: '';
}
.menu__btn__line:before{
	transform: translateY(-5px);
}
.menu__btn__line:after{
	transform: translateY(5px);
}

.menu__btn--active{
	.menu__btn__line{
	background-color: transparent;
		&:before{
			transform: rotate(45deg);
		}
		&:after{
			transform: rotate(-45deg);
		}
	}
}
.menu__mobile{
	display: none;
}
@media only screen and (max-width: 1280px){
	.header .menu__item{
		font-size: 12px;
		margin-right: 20px;
	}
	.search{
		margin-right: 0;
	}
	.header .menu__list{
		margin-right: 35px;
		margin-left: 115px;
	}
}
@media only screen and (max-width: 991px){
	.menu__mobile{
		display: none;
		position: absolute;
		width: 100%;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: #fff;
		z-index: 11;
		&--active{
			display: block;
		}
		.language-toggle{
			justify-content: flex-end;
			margin-right: 20px;
		}
		.menu__list{
			margin: 0;
			flex-direction: column;
			align-items: flex-end;
			padding-top: 80px;
		}
		.menu__item{
			margin-bottom: 10px;
			margin-right: 20px;
			&:last-child{
				margin-right: 20px;
			}
		}
	}
	.header .menu__nav{
		display: none;
	}
	.menu__btn{
		display: block;
		z-index: 12;
		order: 2;
		margin-left: 20px;
	}
	.search{
		width: 80%;
		&__input{
			outline: none;
			position: relative;
			left: 0;
			&--active{
				width: 100%;
			}
		}
	}
}
@media only screen and (max-width: 768px){
	.logo__img{
		width: 60px;
	}
}