.section{
	height: 100vh;
	background-color: #424242;
	color: white;
	position: relative;
}
form{
	background-color: white;
	color: black;
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
	padding: 20px;
	border-radius: 6px;
	label{
		margin-bottom: 0;
	}
	input{
		width: 100%;
		margin-bottom: 15px;
		border: none;
		border-bottom: 1px solid black;
		outline: none;
	}
}
#main-nav{
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: 0px;
	right: 0px;
	.menu{
		display: flex;
		justify-content: center;
		margin-bottom: 0;
		background-color: white;
		padding: 10px;
		&__item{
			margin: 0 20px;
		}
	}
}