.pricing{
	padding: 7rem 0;
	&__item{
		box-shadow: 0 3px 34px 0 rgba(0,0,0,.1);
		border-radius: 7px;
	}
}
.item__descr{
	color: $textLightGrey;
	font-size: 15px;
}
.item-free{
	.interval{
		color: $red;
		font-size: 16px;
		font-weight: $bold;
	}
	.price{
		color: $red;
		display: inline-block;
		font-size: 53px;
		font-weight: $bold;
		position: relative;
		&:before{
			content: '$';
			position: absolute;
			font-size: 18px;
			left: -15px;
			top: 17px;
		}
	}
	.item__time{
		background-color: $red;
	}
}
.item{
	.interval{
		color: $blue;
		font-size: 16px;
		font-weight: $bold;
	}
	.price{
		display: inline-block;
		color: $blue;
		font-size: 53px;
		font-weight: $bold;
		position: relative;
		&:before{
			content: '$';
			position: absolute;
			font-size: 18px;
			left: -15px;
			top: 17px;
		}
	}
	&__time{
		color: $white;
		font-size: 29px;
		font-weight: $bold;
		border-radius: 7px 7px 0 0;
		background-color: $blue;
	}
}
@media (max-width: 480px){
	.pricing{
		padding: 2.5rem 0 3.75rem;
		.item__time{
			font-size: 33px;
		}
		.section__header{
			margin-bottom: 3rem;
		}
	}
}
@media (max-width: 320px){
	.pricing{
		padding: 2rem 0 3.75rem;
	}
}