.thank{
	.copyright{
		font-size: 15px;
		color: rgba(91,96,107,.42);
	}
	&__download{
		max-width: 360px;
		color: $textColor;
		font-size: 15px;
		font-weight: $medium;
	}
	&__question{
		font-size: 21px;
		color: $headerColor;
		font-weight: $medium;
	}
	&__message{
		border-bottom: 1px solid $borderGrey;
	}
	&__wrapper{
		border: 3px solid $borderGrey;
	}
	&__header{
		font-weight: $bold;
		font-size: 49px;
		color: $headerColor;
	}
	&__subheader{
		color: $headerColor;
		font-size: 20px;
		font-weight: $bold;
	}
	&__icon{
		width: 64px;
		height: 64px;
	}
	.send-to{
		max-width: 550px;
		margin: 0 auto 1rem;
		color: $textColor;
		font-size: 15px;
		font-weight: $regular;
	}
}
.i-arrow{
	display: inline-block;
	@include retina-sprite($red-arrow-group);
	margin-left: -55px;
	margin-bottom: 6px;
}
.app-store-btn-icon{
	@include retina-sprite($btn-appstore-group);
	margin-left: auto;
}
.google-store-btn-icon{
	@include retina-sprite($btn-playstore-group);
}
@media (max-width: 576px){
	.app-store-btn-icon{
		margin: 0 auto;
	}
	.google-store-btn-icon{
		margin: 0 auto;
	}
}
@media (max-width: 765px){
	.i-arrow{
		display: none;
	}
}
@media (max-width: 480px){
	.thank__header{
		font-size: 38px;
	}
	.thank__subheader{
		font-size: 18px;
	}
	.thank{
		.send-to{
			font-size: 14px;
		}
	}
	.thank__download{
		font-size: 13px;
	}
	.thank__info{
		padding: 0;
	}
}