.why{
	padding: 7rem 0;
	&__header{
		color: $headerColor;
		font-size: 29px;
		font-weight: $medium;
	}
	&__text{
		font-size: 16px;
		line-height: 24px;
		font-weight: $regular;
		color: $textColor;
	}
}
@media (max-width: 480px){
	.why{
		padding: 2.5rem 0 2.25rem;
		.section__header{
			margin-bottom: 3rem;
		}
		.section__heade-red{
			font-size: 33px;
		}
	}
}
@media (max-width: 320px){
	.why{
		padding: 2rem 0 1.75rem;
		.section__header-black{
			font-size: 27px;
		}
	}
}