body, html{
	margin:0;
	height: 100%;
}
html{
	font-size: 16px;
	line-height: 1.6;
	-webkit-font-smoothing:antialised;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}
p{
	margin: 0;
	padding: 0;
}
ul,li{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
body{
	max-width: 1280px;
	min-width: 320px;
	margin: 0 auto !important;
}

$banner-color: #0066a1;
$bg-banner: #f7f7f7;
$slider-yellow: #fab330;
$slider-black: #282828;
$menu-text: #292929;
$menu-active: #149ed8;
$border-grey: #dddddd;
$color-grey: #8c8c8c;