$logoColor: #606d8d;

$menuColor: #adb4c7;
$menuHoverColor: #3d4c75;

$inputBackgorund: #f6f7fc;

$placeholderColor: #b2b9cc;

$bodyBG: #fafbff;

$borderColor: #f6f6f8;

$headerColor: #4d5b7e;

$universityID: #7194d4;

$lightBlueBtn: #e8f4ff;
$btnColor: #b3bfd5;

$btnPink: #ff6364;

$universityTitle: #687691;
$universityInfo: #b1b6c9;

$messgeHeaderColor: #435579;