// Font weight
$regular: 400;
$medium: 500;
$bold: 700;

//Main colors
$green: #4DB84C;
$red: #F2705B;
$blue: #365D96;
$darkRed: #FA6541;
$headerColor: #24252A;
$textColor: #5B606B;
$white: #fff;
$textBlue: #375D96;
$textGrey: #8c8e90;
$textLightGrey: #a0a6ad;

//Background colors
$lightBlue: #F4F6FB;
$deepBlue: #365D96;
$lightRed: #FFE9E5;

// Border color
$borderColor: #646464;
$borderGrey: #EBECEE;