extends ../_template

block variables
	- var title = ['Forgot Password','index page description','index page keywords']

block content
	include ../block/_header-without-btn
	include ../block/_forgot-password