extends ../_template

block variables
	- var title = ['Title','index page description','index page keywords']

block content
	include ../block/_header
	include ../block/_main
	include ../block/_footer