extends ../_template

block variables
	- var title = ['VPN','index page description','index page keywords']

block content
	include ../block/_header
	include ../block/_main-screen
	include ../block/_work-with
	include ../block/_reason
	include ../block/_why
	include ../block/_how-it-work
	include ../block/_pricing
	include ../block/_footer
