extends ../_template

block variables
	- var title = ['Thank You','index page description','index page keywords']

block content
	include ../block/_header-without-btn
	include ../block/_thank-you-message
